@import url("https://fonts.googleapis.com/css?family=Lato");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


/* général */

body,
html {
    height: 100%;
    box-sizing: border-box;
    /* évite de calculer la taille des objets en soustrayant le padding */
    color: #777;
    line-height: 1.8;
    /* Hauteur de ligne */
    font-size: 15px
}

*,
*:before,
*:after {
    /* Applique le mode border-box à tous les éléments html du document */
    box-sizing: inherit
}

/* typo */

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}

h3 {
    font-size: 24px;
    margin: 10px 0;
}

.center {
    text-align: center;
}

.wide {
    letter-spacing: 10px;
}

/* header nav */
.top {
    /* place le menu en haut de page*/
    position: fixed;
    width: 100%;
    z-index: 1
        /* définit l'ordre d'empilement des blocs, le 1 s'affiche devant, le 2 après etc. */
}

.bar {
    display: flex;
    /* Manière de positionner les éléments à l'intérieur d'un conteneur : par défaut en ligne, côte à côte */
    width: 100%;
}

/* On câle la recherche à droite */
.bar-item.right {
    position: fixed;
    right: 0
}

.button {
    border: none;
    padding: 8px 16px;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
}

.button:hover {
    color: #000;
    background-color: #ccc
}

.black {
    color: #fff;
    background-color: #000
}

.white {
    color: #000;
    background-color: #fff
}

/*.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}*/

/* Menu tél */

.hide {
    display: none
}

.show {
    display: block
}

/* On vise les boutons de la navigation mobile */
.bar-block .bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    outline: 0;
}


/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('../img/parallax1.jpg');
    min-height: 100%;

}

.opacity-min {
    opacity: 0.75
}

.opacity,
.hover-opacity:hover {
    opacity: 0.60
}

.opacity-off,
.hover-opacity-off:hover {
    opacity: 1
}

.display-container {
    display: flex;
    justify-content: center;
    align-items: center
}

.xlarge {
    font-size: 24px
}

.wide {
    letter-spacing: 10px;
}

.padding-large {
    padding: 12px 24px
}


/* About */
.content {
    display: flex;
    /* Positionnement du contenu en mode flexible */
    flex-flow: column wrap;
    /* On oriente le contenu en colonne avec une retour à la ligne si l'espace est insuffisant pour contenir tous les éléments */
    /*flex: 0 0 content;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    /*flex-wrap: wrap;*/
    max-width: 980px;
    margin: 0 auto;
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}

.container,
.panel {

    padding: 0.01em 16px;

}

.row {
    display: flex;
    /*flex-wrap: nowrap;*/
    /*justify-content: space-around;*/
}

.col.m6,
.half {
    /*flex: 1 1 auto;*/
    flex: 1;
    padding: 0 8px;

}


img {
    max-width: 100%;
    height: auto;
}

/* I'm really good at */

.padding-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.large {
    font-size: 18px;
}

.light-grey {
    color: #000 !important;
    background-color: #f1f1f1;
}

.dark-grey {
    color: #fff !important;
    background-color: #616161 !important;
}

.padding-small {
    padding: 4px 8px !important;
}

/* projets */

.section {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("../img/parallax2.jpg");
    min-height: 400px;
}

.xxlarge {
    font-size: 36px;
}

/* Portfolio */


.text-white,
.hover-text-white:hover {

    color: #fff;

}

.row-padding {
    display: flex;
}

.col {
    padding: 0 8px;
}

.col.m3,
.quarter {
    flex: 1
}


.modal {
    z-index: 3;
    /* index de profondeur de la light-box*/
    display: none;
    /* On la masque dans la page */
    /*padding-top: 100px;*/
    position: fixed;
    /* Elle est placée en haut à gauche de l'écran et prend 100% de la largeur et de la hauteur */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*overflow: auto;
    background-color: rgb(0, 0, 0);*/
    background-color: rgba(0, 0, 0, 0.85)
        /* on met un fond légèrement transparent */
}

.display-topright {
    /* Placement du bouton pour fermer la light-box */
    position: absolute;
    right: 0;
    top: 0;

}

.modal-content {
    /* On centre la photo et la légende */
    margin: auto
}



/* Contact */

/* Taille des colonnes */
.col.m4 {

    flex: 1
}

.col.m8 {

    flex: 1
}

/* Arrondi des bords de l'image */
.round {

    border-radius: 4px;
}

.row-padding {
    padding: 0 8px;
}

/* Design des champs de formulaire */
.input {
    padding: 8px;
    display: block;
    width: 100%;
    border: 1px solid #ccc
}

/* Cale le bouton du formulaire à droite */
.right {
    float: right
}


/* footer */
footer {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}

footer a,
footer a:active,
footer a:visited {
    color: #fff;
}


footer a i {
    margin-right: 16px !important;
}
